.prateleira {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1136px;
  margin: 4rem auto;
}

.prateleira .produtos {
  display: flex;
}

.prateleira div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prateleira div h2 {
  color: #464646;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 1rem;
}

.prateleira div .link {
  color: #2a7ae4;
  font-weight: bold;
  text-decoration: none;
}

.prateleira div .link .fa-arrow-right {
  margin-left: 0.5rem;
  font-size: 18px;
}

.prateleira .produtos .produto {
  margin-right: 1rem;
}

.prateleira .produtos .produto:last-child {
  margin-right: 0;
}

.prateleira .produtos .produto img {
  width: 176px;
  height: 174px;
}

.prateleira .produtos .produto .nome {
  color: #464646;
  font-size: 14px;
  font-weight: medium;
  padding: 0.5rem 0;
}

.prateleira .produtos .produto .preco {
  color: #464646;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.prateleira .produtos .produto .link {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #2a7ae4;
}


@media screen and (max-width: 768px) {
  .prateleira div h2 {
    font-size: 22px;
  }
}


@media screen and (max-width: 360px) {}