.prateleira {
  width: 1100px;
}

.prateleira .produtos {
  display: flex;
}

.prateleira div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prateleira .produtos .produto {
  margin-right: 1rem;
}

.prateleira .produtos .produto:last-child {
  margin-right: 0;
}

.prateleira .produtos .produto img {
  width: 176px;
  height: 174px;
}

.prateleira .produtos .produto .nome {
}

.prateleira .produtos .produto .preco {
  font-weight: bold;
}

.prateleira .produtos .produto .link {
  text-decoration: none;
  font-weight: bold;
  color: #2a7ae4;
}
