.navbar {
  margin: 0 auto;
  max-width: 1440px;
}

.similares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1136px;
  margin: 0 auto;
}

.similares-container {
  background: #e5e5e5;
}

.similares h2 {
  color: #464646;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 1rem;
}

.similares .produtos-similares {
  display: flex;
  padding-bottom: 4rem;
}

.similares .produtos-similares .lista {
  margin-right: 1rem;
}

.lista a {
  text-decoration: none;
  width: 91px;
  height: 19px;
  size: 16px;
  font-weight: bold;
  color: #2a7ae4;
}

.lista .nome {
  font-size: 16px;
  color: #464646;
  font-weight: 500;
  padding: 0.5rem 0;
}

.lista .valor {
  color: #464646;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 0.5rem;
}


/* MEDIA QUERY */

@media screen and (max-width: 768px) {}



@media screen and (max-width: 360px) {
  .similares {
    width: 300px;
    padding: 0;
  }

  .similares .produtos-similares .produto-similar:nth-child(2) {
    margin-right: 0;
  }

  .similares .produtos-similares {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .similares .produtos-similares .produto-similar {
    flex: 0 0 43%;
    margin-bottom: 1rem;
  }

  .similares .produtos-similares .produto-similar img {
    max-width: 100%;
  }
}