.navbar {
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 32px 0px;
    width: 100%;
}

.navbar .logo form {
    position: relative;
}

.navbar .logo form .fa-magnifying-glass {
    position: absolute;
    right: 20px;
    top: 11px;
    color: #A2A2A2;
}

.logo {
    display: flex;
}

.busca {
    width: 393px;
    height: 40px;
    background: #F5F5F5;
    border-radius: 20px;
    border: none;
    padding-left: 1rem;
    margin-left: 2rem;
    padding-right: 2.5rem;
}



.entrar {
    width: 182px;
    height: 51px;
    background: none;
    border: 1px #2A7AE4 solid;
    color: #2A7AE4;
}